/* CustomNav.css */

/* Background Gradient */
.custom-nav {
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0.9), rgba(17, 17, 17, 0.9));
  border-bottom: 5px solid #ececec;
}

/* Thunder Logo Animation */
.thunder-logo {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  transition: transform 1s infinite;
}

/* Navbar */
.gaming-navbar {
  background-color: #f9f9f9;
  border-bottom: 5px solid #000000;
  height: 80px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Navbar Brand */
.gaming-brand {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  transition: color 0.3s;
}

.gaming-brand:hover {
  color: #686766;
}





/* Navbar Links */
.navbar-nav {
  align-items: center;
}

.gaming-link {
  font-size: 18px;
  color: #000000;
  transition: color 0.3s, background 0.3s, box-shadow 0.3s;
  text-decoration: none;
  margin: 0 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.gaming-link:hover {
  color: #fff;
  background: linear-gradient(45deg, #686766, #8a8887);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.gaming-bold {
  font-weight: bold;
}

/* Log Out Button */
.gaming-red {
  color: red;
  transition: color 0.3s, background 0.3s, box-shadow 0.3s;
}

.gaming-red:hover {
  color: #fff;
  background: linear-gradient(45deg, #ff6666, #ff0000);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Make the Thunder logo text bold */
.thunder-logo,
.gaming-link.gaming-red,
.gaming-brand {
  font-weight: bold;
}


/* Media queries and other styles as needed */

@media (max-width: 576px) {
  .navbar-toggler-icon {
    font-size: 20px;
  }
}
.navbar-collapse {
  background-color: white; /* Set background color to white */
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  top: 70px;
  right: 0;
  z-index: 1000;
  display: none;
  
}
.navbar-toggler-icon {
  font-size: 28px;
  color: #c6c6c6;
  transition: transform 0.3s, color 0.3s;
}

.navbar-toggler-icon.open {
  transform: rotate(630deg);
  background: white;
  color: #000;
  transition: transform 0.3s, background 0.3s, color 0.3s;
}


.navbar-collapse.show {
  display: block;
}
