/* CustomNav.css */

.custom-nav {
  background-color: #212121;
  border-bottom: 3px solid #ececec;
}

.gaming-navbar {
  background-color: #f9f9f9;
  border-bottom: 5px solid #000000;
}

.gaming-brand {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  transition: color 0.3s;
}

.gaming-brand:hover {
  color: #686766;
}

.navbar-toggler-icon {
  color: #fff;
  font-size: 28px;
}

.navbar-toggler-icon.open {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.gaming-link {
  font-size: 18px;
  color: #000000;
  transition: color 0.3s;
  text-decoration: none;
  margin: 0 10px;
}

.gaming-link:hover {
  color: #c6c6c6;
}

/* Media queries and other styles as needed */

@media (max-width: 576px) {
  .navbar-toggler-icon {
    font-size: 24px;
  }
}
